/* 共通部分 */
body,
p,
ul,
td,
th {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: rgb(254 255 224);
}

.container {
    margin: 50px 30%;
}

.main_title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 35px;
}

/* 会員登録画面 */
/* =========== */

/* 共通部分 */
.sub_title {
    font-size: 27px;
    width: 40%;
}

.sub_title_address {
    font-size: 20px;
}

.item_label {
    font-size: 20px;
}

.input_items {
    display: flex;
    margin-bottom: 10px;
}

.item_group {
    margin-bottom: 50px;
}

.sub_group {
    width: 20%;
}

/* 名前入力欄 */
.input_name {
    display: flex;
    margin-bottom: 10px;
}

.input_name_items {
    align-items: center;
    margin-right: 10px;
}

.input_name_items input {
    height: 100%;
}

/* 住所入力欄 */
.input_address {
    width: 80%;
    margin-bottom: 30px;
}

.input_address_items {
    display: flex;
    margin-bottom: 10px;
}

.address_indi {
    margin-bottom: 20px;
}


.sub_title_address {
    width: 40%;
}

.sub_address_input {
    width: 60%;
}

/* パスワード、メールアドレス入力欄 */
.regi_input {
    width: 60%;
}

/* 登録ボタン */
.member_regi_submit {
    text-align: center;
}

.regi_btn {
    margin-bottom: 20px;
}

.member_regi_btn {
    font-size: 25px;
    color: white;
    background-color: #ff8000;
    border-radius: 5px;
    padding: 5px;
    width: 162px;
}

.member_regi_submit input:hover {
    cursor: pointer;
}

/* エラーメッセージ */
.indi {
    color: red;
    margin-left: 40%;
}

.indi_sub {
    margin-left: 20%;
}

.name_indi {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

/* 会員登録確認画面 */
.member_regi_back_btn {
    font-size: 25px;
    color: #ff8000;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

/* トップ画面 */
header {
    background-color: antiquewhite;
    height: 80px;
}

.header_login_group {
    padding-top: 15px;
}

.header_link {
    color: white;
    text-align: right;
    align-items: center;
    padding-right: 60px;
}

.header_btn_login {
    display: flex;
    justify-content: end;
}

.header_product_btn {
    padding: 8px 30px;
    background: antiquewhite;
    color: black;
    margin-right: 15px;
    margin-top: 7px;
    border: solid 1px;
    display: inline-block;
    font-size: 14px;
}

.top_logout_btn {
    padding: 8px 30px;
    background: antiquewhite;
    color: black;
    margin-right: 15px;
    margin-top: 7px;
    border: solid 1px;
    display: inline-block;
    font-size: 14px;
}

.btn {
    padding: 10px 30px;
    background: antiquewhite;
    color: black;
    margin-right: 15px;
    border: solid 1px;
}

.btn:hover {
    cursor: pointer;
}

.top_btn_group {
    display: flex;
    justify-content: end;
}

.product_list_btn {
    padding-top: 15px;
}

/* ログイン画面 */
.login_input {
    padding-top: 30px;
}

.login_items {
    display: flex;
    margin-bottom: 20px;
    height: 40px;
}

.login_btn {
    text-align: center;
    margin-top: 80px;
}

.login_items p {
    width: 40%;
}

.login_items input {
    width: 60%;
}

.pass_regi {
    text-align: right;
}

.login_indi {
    margin-left: 0;
}

.login_submit {
    width: 162px;
    font-size: 25px;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background-color: #ff8000;
    margin-bottom: 20px;
}

.login_back_submit {
    padding: 11px 7px;
    border: solid 1px black;
    color: #ff8000;
    background-color: white;
}

/* パスワード再設定画面 */
.pass_reset_email {
    width: 300px;
    height: 20px;
    margin-left: 20px;
}

.form-group.row {
    display: flex;
    margin-top: 50px;
}

.pass_reset_submit {
    font-size: 25px;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background-color: #ff8000;
    margin-bottom: 20px;
}

.pass_reset_back_submit {
    width: 238px;
    padding: 11px 42px;
    border: solid 1px black;
    color: #ff8000;
    background-color: white;
}

/* 商品登録画面 */
.category_sub_title {
    font-size: 20px;
}

.category_select {
    height: 30px;
    margin-right: 10px;
}

.sub_category_select {
    height: 30px;
}

.input_photo {
    margin-left: 150px;
}

.preview {
    height: 200px;
    width: 200px;
    border: solid;
}

.photo_upload_btn {
    margin-top: 30px;
    border: solid 3px #ff8000;
    color: #ff8a17;
    background: white;
    border-radius: 5px;
    width: 100px;
    padding: 10px;
    margin-left: 40px
}

.upload_group {
    display: flex;
    flex-direction: column;
}

.js-droparea {
    margin-top: 20px;
    display: none;
}

.upload_img {
    height: 200px;
    width: 200px;
}

.product_confirm_submit {
    font-size: 25px;
    color: white;
    background-color: #ff8000;
    border-radius: 5px;
    padding: 5px;
}

.product_regi_back_btn {
    font-size: 25px;
    color: #ff8000;
    background-color: white;
    border-radius: 5px;
    padding: 10px 43px;
    border: solid;
}

/* 商品一覧画面 */
.header_h2 {
    margin: 15px 50px;
}

.product_list_header {
    display: flex;
    justify-content: space-between;
}

.list_header_product_btn {
    padding: 8px 30px;
    background: antiquewhite;
    color: black;
    margin-right: 70px;
    margin-top: 20px;
    border: solid 1px;
    display: inline-block;
    font-size: 14px;
}

.product_search {
    background-color: white;
    border: solid;
    padding: 30px;
    margin-bottom: 100px;
}

.search_items {
    display: flex;
    margin-bottom: 20px;
}

.search_items_p {
    width: 20%;
}

.search_category {
    display: flex;
}

.search_submit_btn {
    text-align: right;
    padding-right: 30px;
}

.list_items {
    display: flex;
    border-bottom: solid;
    padding: 50px 10px;
}

.list_items:first-child {
    border-top: solid;
}

.product_list_img {
    width: 250px;
    height: 200px;
    margin-right: 50px;
}

.items_category {
    margin-bottom: 30px;
    background-color: white;
    border: solid;
    padding: 5px;
}

.list_item_evaluation {
    display: flex;
}

.list_star {
    margin-top: 30px;
    margin-right: 10px;
}

.product_list_review {
    margin-top: 30px;
}

.list_back_btn {
    margin-top: 80px;
    text-align: center;
}

.list_back_btn a {
    color: blue;
}

.pagination {
    display: flex;
    justify-content: end;
    margin-top: 20px;
    margin-right: 20px;
}

.pagination li {
    padding: 0 5px;
    border: solid 1px;
}

li.disabled {
    border: none;
}

li.active {
    color: white;
    background-color: gray;
    border: solid 1px black;
}

.product_detail_btn {
    border: solid 1px black;
    padding: 7px;
    color: white;
    background-color: blue;
    border-radius: 5px;
}

.product_list_right {
    width: 200px;
}

.detail_btn {
    margin-top: 50px;
    margin-left: 130px;
}

/* 詳細画面 */
.detail_container{
    margin: 50px 20%;
}

.detail_name_group {
    display: flex;
}

.detail_name_group p {
    margin: 20px 80px;
}

.detail_img {
    margin: 30px auto;
}

.detail_img img {
    width: 200px;
    height: 150px;
}

.detail_text_contents {
    margin-top: 30px;
    margin-bottom: 80px;
}

.detail_back {
    text-align: end;
}

.detail_back_btn {
    border: solid 1px black;
    padding: 10px;
    color: white;
    background-color: blue;
    border-radius: 5px;
}

.detail_review {
    margin-bottom: 80px;
}

.detail_review_contents {
    display: flex;
}

.review_average {
    display: flex;
    margin-top: 30px;
    margin-left: 40px;
}

.review_average p{
    margin-right: 20px;
}

.total_review {
    margin-top: 30px;
}

.review_regist_btn_group {
    text-align: end;
    margin: 50px 0;
}

.review_regist_btn {
    border: solid 1px black;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

/* レビュー一覧 */
.product_view {
    display: flex;
    margin-bottom: 50px;
}

.product_view_text {
    margin-left: 50px;
    margin-top: 30px;
}

.product_view_text p{
    margin-bottom: 20px;
}

.review_img {
    width: 230px;
    height: 200px;
}

.review_item {
    display: flex;
    margin: 20px;
}

.review_items {
    border-bottom: solid 1px black;
}

.review_items:first-child {
    border-top: solid 1px black;
}

.review_item_comment {
    margin-top: 20px;
    margin-left: 40px;
}

.detail_list_back {
    text-align: center;
    margin-top: 70px;
}

.detail_list_back_btn{
    font-size: 22px;
    padding: 10px;
    border: solid 1px black;
    background-color: blue;
    color: white;
    border-radius: 5px;
}

/* レビュー登録画面 */
.review_regist_form {
    border-top: solid 1px black;
    padding-top: 50px;
    /* margin-bottom: 30px; */
}

.review_resist_form_items {
    margin-bottom: 40px;
}

.review_input_group {
    display: flex;
}

.review_resist_form_items p{
    width: 20%;
}

.review_submit {
    text-align: center;
    margin-bottom: 30px;
}

.review_subimt_btn {
    padding: 7px;
    font-size: 20px;
    color: white;
    background-color: blue;
    border-radius: 5px;
}

.detail_back_submit {
    text-align: center;
}

.review_submit_back_btn {
    font-size: 22px;
    padding: 10px;
    border: solid 1px black;
    background-color: white;
    border-radius: 5px;
}

/* レビュー確認画面 */
.review_confirm_items {
    display: flex;
    margin-bottom: 50px;
}

.review_confirm_titles{
    width: 30%;
}

/* マイページ関連 */
.mypage_header_link {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
    padding-top: 20px;
}

.mypage_header {
    font-size: 25px;
    font-weight: bold;
}

.mypage_title {
    width: 40%;
}

.mypage_link {
    text-align: center;
    margin-bottom: 50px;
}

.mypage_link_btn {
    border: solid 1px black;
    padding: 10px;
    color: white;
    background-color: blue;
    border-radius: 5px;
}

.mypage_withdraw {
    text-align: center;
    margin-top: 100px;
}

.mypage_withdraw_btn {
    padding: 10px 20px;
    border: solid 1px black;
    background-color: white;
    border-radius: 5px;
    font-size: 25px;
}

/* 退会画面 */
.withdraw_text{
    text-align: center;
}

.withdraw_submit_btn{
    color: white;
    background-color: blue;
}

/* マイページ各編集画面 */
.mypage_edit_title {
    text-align: center;
    margin-bottom: 50px;
}

.mypage_edit_btn{
    text-align: center;
    margin-top: 30px;
}

.mypage_mail_submit {
    font-size: 25px;
    padding: 5px 30px;
    color: white;
    background-color: rgb(255, 166, 0);
    border-radius: 5px;
}

/* マイページ、レビュー管理画面 */
.mypage_review_btn_group {
    margin-top: 15px;
}

.mypage_product_list_right {
    width: 250px;
}

.mypage_review_btn {
    border: solid 1px black;
    padding: 5px;
    font-size: 16px;
    color: white;
    background-color: blue;
    border-radius: 5px;
    margin-right: 10px;
}

/* 管理画面 */
/* ======= */
/* ログイン画面 */
.admin_header{
    background-color: #bbbbbb;
    display: flex;
    justify-content: space-between;
}

.admin_body{
    background-color: #d1eafd;
}

.admin_login_submit{
    width: 162px;
    font-size: 25px;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background-color: blue;
    margin-bottom: 20px;
}

.admin_footer{
    background-color: #bbbbbb;
    bottom: 0;
    position: fixed;
    height: 70px;
    width: 100%;
}

/* トップ画面 */
.admin_header_contents {
    display: flex;
    margin-top: 25px;
    margin-right: 50px;
}

.admin_logout_btn {
    margin-left: 40px;
    border: solid 1px black;
    padding: 7px;
    height: 25px;
}

.admin_top_btn_group {
    text-align: center;
    margin-top: 150px;
}

.admin_top_list_btn {
    font-size: 25px;
    padding: 15px 25px;
    border: solid 1px black;
    border-radius: 5px;
    background-color: white;
    color: blue;
}

/* 会員一覧画面 */

.admin_search_item_p {
    width: 100%;
}

td {
    width: 200px;
}

.member_search {
    margin: 0 20%;
}

.search_admin_group {
    border: solid 1px black;
    padding: 10px 70px;
    width: 100%;
}

.admin_search_submit_btn {
    text-align: center;
    margin-top: 50px;
}

.admin_search_submit {
    padding: 10px;
    font-size: 20px;
    color: blue;
    background-color: white;
    border-radius: 5px;
}

.admin_member_list_display {
    margin-top: 100px;
    border: solid 2px black;
    border-spacing: 0;
    width: 100%;
}

.admin_member_table_td {
    text-align: center;
    border: solid 0.3px black;
    padding: 10px;
}

.admin_member_table_th {
    text-align: center;
    border: solid 0.3px black;
    border-bottom: solid 2px black;
    padding: 10px;
}

.admin_list_container {
    margin: 50px 15%;
}

.admin_list_regist {
    margin-bottom: 50px;
    margin-left: 230px;
}

.admin_list_regist_btn {
    border: solid 1px black;
    border-radius: 5px;
    padding: 15px 25px;
    color: white;
    background-color: blue;
}

/* 会員登録画面 */
.admin_member_regi_btn {
    font-size: 25px;
    color: blue;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    width: 162px;
}

.admin_member_confirm_btn {
    font-size: 23px;
    padding: 5px 20px;
    color: blue;
    background-color: white;
    border: solid 1px black;
    border-radius: 5px;
}

.admin_member_regi_back_btn {
    font-size: 23px;
    padding: 3px 19px;
    color: blue;
    background-color: white;
    border: solid 1px black;
    border-radius: 5px;
}

/* 会員詳細画面 */
.admin_member_detail_btn_group {
    text-align: center;
    margin-top: 80px;
}

.admin_member_detail_btn {
    border: solid 1px black;
    padding: 10px 30px;
    font-size: 23px;
    border-radius: 5px;
    color: blue;
    background-color: white;
    margin: 0 10px;
}

.admin_member_delete_btn {
    font-size: 23px;
    color: blue;
    background-color: white;
    border: solid 1px black;
    border-radius: 5px;
    padding: 4px 26px;
}